@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --purple: #763296;
  --pink: #DB2873;
  --white: #FAFAFA;
  --black: #121212;
}